body{
    padding-top: 20px;
    padding-left: 150px;
    background-color: rgba(164, 158, 158, 0.93);
}
#img-car{
    width: 100%;
    height: auto;
}
#logo-car{
    font-size: 20px;
    padding-left: 70px;
    width: 580px;
    height: 150px;
    background-color: #CDCDCD;
}
td small{
    color: rgba(169, 166, 166, 0.91);
}
.img-list{
    background-color: #CDCDCD;
    padding-bottom: 20px;
    width: 700px;
}
#table-list-car{
    width: 360px;
    height: 698px;
    background-color: white;
    position: absolute;
    right: 240px;
    top: 30px;
}
#list-table{
    font-size: 20px;
    height: 250px;
    width: 350px;
    padding-left: 10px;
}
#total-money{
    font-size: 35px;
}
#list-payment{
    padding-top: 10px;
    font-size: 20px;
    padding-left: 15px;
    background-color: rgba(129, 122, 122, 0.34);
    width: auto;
    height: 280px;
}
#table-card-number{
    width: 290px;
}
#table-car-holder{
    padding-top: 20px;
    width: 290px;
}
button{
    font-size: 25px;
    height: 80px;
    width: 360px;
    color: white;
    background-color: black;
}